*{
    margin: 0;
    padding: 0;
}
.navbar ul{
display: flex;
justify-content: center;
gap: 25px;
list-style: none;

}
a{
    text-decoration: none;
}
.navbar ul li{
    transition: .5s;
}
.navbar ul li a:hover{
    color: red;
}
.navbar ul li .submenu{
    width: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    display: none;
    position: absolute;
}
.navbar ul li:hover .submenu{
    display: block;
}
.navbar ul li .submenu li{
    margin-bottom: 5px;
}
